.vscode/
.venv/

# pour les visualisations pcq ca bouffe de la place
output/
Milestones/
*.mp4
*.pdf

.DS_Store
*/.DS_Store
*/__pycache__/
*/.ipynb_checkpoints/
*/.pytest_cache/
*/.mypy_cache/
*/.coverage